body {
  background: #121212;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.player {
  width: 300px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #555;
  cursor: pointer;
  margin: 10px 0;
}

.progress {
  height: 100%;
  width: 0%;
  background: #1db954;
}

.controls button {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  cursor: pointer;
}

li:hover {
  color: #1db954;
}
li.active {
  font-weight: bold;
  color: #1db954;
}